{% extends "dashboard/base.html" %}
{% block content %}
			<div class="row">
				<div class="col-lg-12">
					<div class="panel panel-default">
						<div class="panel-heading clearfix">
							<h3 class="panel-title">Sobre este projeto</h3>
						</div>    
					</div>    
                    <div class="panel-body"> 
                        <p>Este projeto foi realizado no tempo de aproximadamente em 5 hgoras, onde foi desenvolvido um aplicativo web de controle de despesas para a empresa de distribuição de livros: Rumi Press.</p> 
                        <p>Neste projeto, foi utilizado as habilidades em Python e Django para construir modelos de dados, criando estruturas de aplicativos usando Django Admin e criamos relatórios visuais em aplicativos da web.</p>
                        <p>Ao final deste projeto, foi produzido um aplicativo web que apoiará a equipe da Rumi Press no gerenciamento de despesas de distribuição de livros.</p> 
                        <p>Também publicamos este projeto no Github, conforme segue o endereço abaixo, compartilhanso as descobertas com potenciais empregadores com a criação uma página de portfólio do Coursera.</p>
                        <p>Este projeto foi projetado para permitir que fosse usado várias abordagens para criar uma solução.</p>
                        <p>Essa flexibilidade tem a missão de que, com que esse projeto seja um destaque da concorrência e ajuda na apresentação das prática no ambito empregador a diferenciar sas habilidades das de outros.</p>
    				</div>
   				</div>    
			</div>    
{% endblock content %}